<div class="layui-header">
    <div class="layui-logo" class="font-size:30px; color:white; ">现金贷系统</div>
    <!-- 头部区域（可配合layui已有的水平导航） -->
    <ul class="layui-nav layui-layout-left">
        <li class="layui-nav-item"><a href="/customer/listview">客户管理</a></li>
        <li class="layui-nav-item"><a href="">审批管理</a></li>
        <li class="layui-nav-item"><a href="">贷后管理</a></li>
        <li class="layui-nav-item"><a href="">统计查询</a></li>
        <li class="layui-nav-item">
            <a href="javascript:;">系统管理</a>
            <dl class="layui-nav-child">
                <dd><a href="">用户管理</a></dd>
                <dd><a href="">授权管理</a></dd>
                <dd><a href="">还款计划管理</a></dd>
            </dl>
        </li>
    </ul>
    <ul class="layui-nav layui-layout-right">
        <li class="layui-nav-item">
            <a href="javascript:;">
                <img src="http://t.cn/RCzsdCq" class="layui-nav-img">
                ${name}
            </a>
            <dl class="layui-nav-child">
                <dd><a href="">基本资料</a></dd>
                <dd><a href="">安全设置</a></dd>
            </dl>
        </li>
        <li class="layui-nav-item"><a href="/login/logout">退出</a></li>
    </ul>
</div>