<html>
<head>
    <title>$title</title>
    #parse('/layout/resources.vm')
</head>
<body class="layui-layout-body" style="background-color:#f2f2f2;">
    <!-- 内容主体区域 -->
    $screen_content
</body>
</html>