#set($layout="/layout/layout_2.vm")
#set($title="系统登录")
<div style="background:url('/image/login_bg.png')">
    <form action="/login/login" method="post" class="layui-form" style="width:400px; height:200px;">
        <input type="hidden" name="${_csrf.parameterName}" value="${_csrf.token}"/>
        <div class="layui-form-item">
            <label class="layui-form-label">用户名</label>
            <div class="layui-input-block">
                <input type="text" name="username" required lay-verify="required" placeholder="请输入用户名"
                       autocomplete="off" class="layui-input" width="200">
            </div>
        </div>
        <div class="layui-form-item">
            <div class="layui-form-item">
                <label class="layui-form-label">密码框</label>
                <div class="layui-input-inline">
                    <input type="password" name="password" required lay-verify="required" placeholder="请输入密码"
                           autocomplete="off" class="layui-input" width="200">
                </div>
            </div>
        </div>
        <div class="layui-form-item" style="text-align: center;">
            <input type="submit" class="layui-btn layui-btn-radius"></input>
            <input type="reset" class="layui-btn layui-btn-radius"></input>
        </div>
    </form>
</div>